
#principal img{
   max-height: 70vh;
   object-fit: cover;
}

/*NAVBAR*/
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f0a500; /* Color de acento en el hover */
}


/*Carteras en venta*/
.productdisplay {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; /* Ajusta el espacio debajo de cada producto */
    max-width: 90%;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 60px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los productos */
    gap: 10px; /* Espacio entre los productos */
}
/* Estilo para la imagen del producto */
.product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}
.product-name {
    font-size: 1.5em;
    margin: 10px 0;
}
/* Estilo para la descripción del producto */
.product-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

/* Estilo para el precio del producto */
.product-price {
    font-size: 1.2em;
    color: #333;
    margin: 15px 0;
}

/* Estilo para el botón de compra */
.buy-button {
    background-color: #a72887;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #218838;
}

/*Contactos*/
.cajaf{
    
    width: 50%;
    height: 500px;
    margin-top: 180px;
   
}
.controls{
    padding-left: 10px;
    margin-top: 10px;
    width: 1080px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
}
.controlsP{
    width: 1080px;
    height: 200px;
    padding-left: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
}
.btn{
    width: 120px;
    border: 1.5px solid black;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
}
.btn:hover{
    background-color: gray;
    cursor: pointer;
}
#footer{
    background-color: rgb(0,0 ,0, 0.7);
    color: white;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 10px;
    position: fixed;
}

